body{
    background-color: brown;
    color:white;
    font-family:verdana, Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;
    line-height: 40px;
    background-image: url("/assets/write.jpeg");
    background-size:cover;
}